<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>

  <nav>
    <a href="/">Public</a> |
    <a href="/bookmarks">Bookmarks</a> |
    <a href="/search">Search</a> |
    <a href="/login">Admin</a>
  </nav>

  <hr>

  {{{body}}}

</body>
</html>